@model RegistroClinico_Alina_Adriana_Kevin.Models.ModelViews.MedicVM
@{
    ViewData["Title"] = "Detalles de médico";
}

<div class="row">
    <div class="row pt-4">
        <div class="col-6 mb-3">
            <h3 class="text-primary">Detalles del Médico</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Medic" asp-action="Upsert" asp-route-id="@Model.medic.Id" asp-router class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                &nbsp; Editar datos del médico
            </a>
        </div>
    </div>

    <div class="col-2">
        <div class="p-3 mt-2 row">
            <img src="~/@Model.medic.PictureUrl" width="100%" style="border-radius:10px; border=1px solid #bbb9b9; margin-top: 1.6rem;" />
        </div>
    </div>

    <div class="col-10 my-auto">
        <h4 class="text-black">@Model.medic.FullName</h4>
        <p class="text-black"><span style="font-weight:bold;">Numero de licencia: </span>@Model.medic.LicenseNumber</p>
    </div>
</div>

<div class="row">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Especialidades</h3>
        </div>
    </div>
    <div class="col-12">
        <div class="p-3 row">
            <table class="table" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            Especialidad
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var obj in Model.addedSpecs)
                    {
                        <tr>
                            <td width="50%">@obj.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mt-4 text-end">
        <div>
            <a asp-controller="Medic" asp-action="Index" class="btn btn-secondary">
            &nbsp; Regresar a lista de médicos
            </a>

            <a asp-controller="Medic" asp-action="MedicSpecs" asp-route-id="@Model.medic.Id" class="btn btn-primary">
            &nbsp; Agregar Especialidades
        </a>
        </div>
    </div>
</div>
